/*
  Go through zlNavboxes.js and zlNavboxes.html if you haven't done so yet!

  COPYING INSTRUCTIONS:

  Paste the following style sheet in the place most convenient for your css.
  Generally, the bottom of the file will work.
  
  Also, this CSS is just a template! You can use as much or as little of this
  file as you want, most of these attributes simply change colors.

*/

/* navboxes */
ul.commaList {
  & li + li:before {
  
    content: ", ";
  }
  & li, ul {
    display:contents;
  }
}

table.navbox {
  border-collapse: collapse;
  border: 2px ridge #000000;
  outline-width: 4px;
  max-width: 500px;

  & li + li:before {
  
    content: ", ";
  }
  & li, ul {
    display:contents;
  }
  & a:link {
    color: #0008ff;

  }
  & a:hover {
    color: #4274ff;
  }
  & a:visited {
    color: #6e2bff;
  }

  & th, thead {
    background-color: #ffffff;
    color: #ffffff;
    border: 2px solid #000000;
  }
  & tr {
    border: 2px solid #000000;
  }
  & td {
    background-color: #c9c9c9;
  }
}
